@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full border border-gray-200 rounded-lg p-3 mt-1 text-gray-900
  placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-400 transition;
}

.textarea {
  @apply w-full rounded-lg mt-1 text-gray-900
  placeholder-gray-400 focus:outline-none transition;
}

@media (max-width: 400px) {
  .scale-small-mobile {
    --tw-scale-x: 0.45;
    --tw-scale-y: 0.45;
  }
}

@media (min-width: 768px) {
  .scale-desktop {
    --tw-scale-x: 0.95;
    --tw-scale-y: 0.95;
  }
}








